<%= content_for :title, "Blogs" %>

<div class="w-full mx-auto bg-gradient-to-r from-blue-700 to-orange-500">
  <div class="container mx-auto px-4 py-6">
    <h1 class="text-2xl font-bold font-mono mb-6">All Blogs</h1>

    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      <% @blogs.each do |blog| %>
        <div class="bg-white hover:shadow-[0px_20px_20px_15px_#1a202c] border-4 border-black rounded-lg overflow-hidden">
          <%= link_to blog_path(blog), class: "block" do %>
            <% if blog.image.attached? %>
              <%= image_tag url_for(blog.image), class: "w-full h-48 object-cover" %>
            <% end %>
            <div class="p-4">
              <h2 class="text-xl font-semibold mb-2"><%= blog.title %></h2>
              <p class="text-gray-700 mb-4">
                <% 
                  linked_content = blog.content.gsub(%r{(https?://[^\s<]+)}) do |url|
                    "<a href='#{url}' class='text-blue-500 underline' target='_blank'>#{url}</a>"
                  end
                %>
                <%= raw(linked_content.truncate(300, separator: ' ')) %>
              </p>
              <p class="text-sm text-gray-500">Posted on <%= blog.created_at.strftime("%B %d, %Y") %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mt-6">
      <%= render 'kaminari/tailwind/paginator', paginator: @blogs %>
    </div>
  </div>
</div>
