<%= content_for :meta_title, @blog.title %>
<%= content_for :meta_description, @blog.content&.humanize %>
<div class="bg-gradient-to-r from-blue-700 to-orange-500">
<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl text-black font-bold mb-4"><%= @blog.title %></h1>
  
  <div class="text-black mb-6">
    <% 
      linked_content = @blog.content.gsub(%r{(https?://[^\s<]+)}) do |url|
        "<a href='#{url}' class='text-black underline' target='_blank'>#{url}</a>"
      end
    %>
    <%= raw(linked_content) %>
  </div>

  <% if @blog.image.attached? %>
    <div class="mb-6">
      <%= image_tag url_for(@blog.image), class: "w-full h-auto rounded-lg shadow-md" %>
    </div>
  <% end %>

  <div class="mt-6">
    <%= link_to 'Back to Blogs', blogs_path, class: "hover:text-white hover:shadow-3xl text-black bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 border-black border-4 text-center me-2 mb-2 font-mono" %>
  </div>
</div>
</div>
