<div class="bg-white">
  <main>
    <section aria-labelledby="category-heading" class="py-16 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8">
      <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
        <h2 id="category-heading" class="text-2xl font-bold tracking-tight text-gray-900">Search Results: <%= params[:search ]%></h2>
      </div>

      <div class="mt-4 flow-root">
        <div class="-my-2">
          <div class="relative box-content h-80 overflow-x-auto py-2 xl:overflow-visible">
            <div class="absolute flex space-x-8 px-4 sm:px-6 lg:px-8 xl:relative xl:grid xl:grid-cols-5 xl:gap-x-8 xl:space-x-0 xl:px-0">
              <% if @products.empty? %>
                <div class="mt-24 col-span-full text-center">
                  <p class="text-2xl">There are no search results</p>
                </div>
              <% else %>
                <% @products.each do |product| %>
                  <%= link_to library_path(product), class: "relative flex h-80 w-56 flex-col overflow-hidden rounded-lg p-6 hover:opacity-75 xl:w-auto" do %>
                    <span aria-hidden="true" class="absolute inset-0">
                      <% if product.covers.exists? %>
                        <%= image_tag @product.covers.first, class: "h-full w-full object-cover object-center" %>
                      <% else %>
                        <%= image_tag "default-cover.png", class: "h-full w-full object-cover object-center" %>
                      <% end %>
                    </span>
                    <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
                    <span class="relative mt-auto text-center text-xl font-bold text-white"><%= product.name %></span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
