<div id="default-carousel" class="<%= @carousel_class %>" data-controller="carousel" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <% @images.each_with_index do |image, index| %>
      <div class="absolute inset-0 transition-opacity duration-500 ease-in-out <%= index == 0 ? 'block opacity-100' : 'hidden opacity-0' %>" data-carousel-target="slide" data-index="<%= index %>" data-carousel-item>
        <%= image_tag image, class: "w-full h-full object-contain" %>
      </div>
    <% end %>
  </div>
  <% if @images.length > 1 %>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <% @images.each_with_index do |_, index| %>
        <button type="button" class="w-2 h-2 rounded-full bg-gray-300" aria-current="true" aria-label="Slide <%= index + 1 %>" data-action="click->carousel#goToSlide" data-carousel-slide-to="<%= index %>" data-carousel-target="indicator"></button>
      <% end %>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-action="click->carousel#prevSlide" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/20 dark:bg-gray-400/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-400 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-action="click->carousel#nextSlide" data-carousel-next>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 dark:bg-gray-400/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-400 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  <% end %>
</div>
