<div class="bg-slate-400">
  <main>
    <div class="px-8 py-4">
    <!-- Filter Form -->
    <%= render partial: 'shared/filters' %>
    </div>
    <!-- Product Search Results -->
    <% if params[:filter_by_type].blank? || params[:filter_by_type] == 'products' %>
      <section aria-labelledby="products-heading" class="py-8 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8">
        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
          <h2 id="products-heading" class="text-2xl font-bold tracking-tight text-gray-900">
            Product Search Results: <%= params[:search] %>
          </h2>
        </div>
        <div>
          <h3 id="products-heading" class="text-2xl font-bold tracking-tight text-gray-900">
              <% if params[:category_id].present? %>
                Category: <%= Category.find(params[:category_id]).name %>
              <% end %>
            </h3>
        </div>

        <div class="mt-4 overflow-x-auto">
          <div class="flex flex-no-wrap gap-4 sm:gap-6 lg:gap-8 xl:gap-x-8 xl:px-0">
            <% if @product_results&.empty? %>
              <div class="mt-24 col-span-full text-center">
                <p class="text-2xl">There are no product search results</p>
              </div>
            <% else %>
              <% @product_results.each do |product| %>
                <div class="flex-none min-w-[240px] max-w-[240px]">
                  <%= render partial: "products/product_card", locals: { product: product } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= render 'kaminari/tailwind/paginator', paginator: @product_results %>
      </section>
    <% end %>

    <!-- Creator Search Results -->
    <% if params[:filter_by_type].blank? || params[:filter_by_type] == 'creators' %>
      <section aria-labelledby="creators-heading" class="py-8 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8">
        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
          <h2 id="creators-heading" class="text-2xl font-bold tracking-tight text-gray-900 mt-2">
            Creator Search Results: <%= params[:search] %>
          </h2>
        </div>

        <div class="mt-4 overflow-x-auto">
          <div class="flex flex-no-wrap gap-4 sm:gap-6 lg:gap-8 xl:gap-x-8 xl:px-0">
            <% if @marketplace_creator_results&.empty? %>
              <div class="mt-24 col-span-full text-center">
                <p class="text-2xl">There are no user search results</p>
              </div>
            <% else %>
              <% @marketplace_creator_results.each do |user| %>
                <div class="flex-none min-w-[240px] max-w-[240px]">
                  <%= render partial: "products/user_card", locals: { user: user } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= render 'kaminari/tailwind/paginator', paginator: @marketplace_creator_results %>
      </section>
    <% end %>

    <!-- Category Search Results -->
    <% if params[:filter_by_type].blank? || params[:filter_by_type] == 'categories' %>
      <section aria-labelledby="categories-heading" class="py-8 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8 mt-2">
        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 ">
          <h2 id="categories-heading" class="text-2xl font-bold tracking-tight text-gray-900">
            Category Search Results: <%= params[:search] %>
          </h2>
        </div>

        <div class="mt-4 overflow-x-auto">
          <div class="flex flex-wrap gap-4 sm:gap-6 lg:gap-8 xl:gap-x-8 xl:px-0">
            <% if @category_results&.empty? %>
              <div class="mt-24 col-span-full text-center">
                <p class="text-2xl">There are no category search results</p>
              </div>
            <% else %>
              <% @category_results.each do |category| %>
                <div class="flex-none min-w-[240px] max-w-[240px]">
                  <%= render partial: "products/category_card", locals: { category: category } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= render 'kaminari/tailwind/paginator', paginator: @category_results %>
      </section>
    <% end %>

    <!-- Language Search Results -->
    <% if params[:filter_by_type].blank? || params[:filter_by_type] == 'languages' %>
      <section aria-labelledby="languages-heading" class="py-8 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8 mt-2">
        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
          <h2 id="languages-heading" class="text-2xl font-bold tracking-tight text-gray-900">
            Language Search Results: <%= params[:search] %>
          </h2>
        </div>

        <div class="mt-4 overflow-x-auto">
          <div class="flex flex-wrap gap-4 sm:gap-6 lg:gap-8 xl:gap-x-8 xl:px-0">
            <% if @language_results&.empty? %>
              <div class="mt-24 col-span-full text-center">
                <p class="text-2xl">There are no language search results</p>
              </div>
            <% else %>
              <% @language_results.each do |language| %>
                <div class="flex-none min-w-[240px] max-w-[240px]">
                  <%= render partial: "products/language_card", locals: { language: language } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= render 'kaminari/tailwind/paginator', paginator: @language_results %>
      </section>
    <% end %>

  </main>
</div>
