<div class="bg-gradient-to-r from-blue-700 to-orange-500">
  <main>
    <div class="px-8 py-4">
      <!-- Filter Form -->
      <%= render partial: 'shared/filters' %>
    </div>

    <!-- Product Search Results -->
    <% if params[:filter_by_type].blank? || params[:filter_by_type] == 'products' %>
      <section aria-labelledby="products-heading" class="py-8 sm:py-16 xl:mx-auto xl:px-8">
        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 mb-4">
          <h2 id="products-heading" class="text-2xl font-bold tracking-tight text-gray-900 underline font-mono">
            Product Search Results: <%= params[:search] %>
          </h2>
        </div>
        <div class="mt-4 flow-root">
          <div class="-my-2">
            <div class="px-4 sm:px-6 lg:px-8">
              <!-- Ensure the same gap value as the category view -->
              <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
                <% if @product_results&.empty? %>
                  <div class="mt-24 col-span-full text-center">
                    <p class="text-2xl">There are no product search results</p>
                  </div>
                <% else %>
                  <%= render partial: "products/product_card", collection: @product_results, as: :product %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 px-4 sm:px-6 lg:px-8">
          <%= render 'kaminari/tailwind/paginator', paginator: @product_results %>
        </div>
      </section>
    <% end %>

    <!-- Creator Search Results -->
    <% if params[:filter_by_type] == 'creators' %>
      <section aria-labelledby="creators-heading" class="py-8 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8">
        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 mb-4">
          <h2 id="creators-heading" class="text-2xl font-bold tracking-tight text-gray-900 underline mt-2 font-mono">
            Creator Search Results: <%= params[:search] %>
          </h2>
        </div>
        <div class="mt-4 flow-root">
          <div class="-my-2">
            <div class="px-4 sm:px-6 lg:px-8">
              <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
                <% if @marketplace_creator_results&.empty? %>
                  <div class="mt-24 col-span-full text-center">
                    <p class="text-2xl">There are no user search results</p>
                  </div>
                <% else %>
                  <%= render partial: "products/user_card", collection: @marketplace_creator_results, as: :user %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 px-4 sm:px-6 lg:px-8">
          <%= render 'kaminari/tailwind/paginator', paginator: @marketplace_creator_results %>
        </div>
      </section>
    <% end %>

    <!-- Category Search Results -->
    <% if params[:filter_by_type] == 'categories' %>
      <section aria-labelledby="categories-heading" class="py-8 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8 mt-2">
        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 mb-4">
          <h2 id="categories-heading" class="text-2xl font-bold tracking-tight text-gray-900 underline font-mono">
            Category Search Results: <%= params[:search] %>
          </h2>
        </div>
        <div class="mt-4 flow-root">
          <div class="-my-2">
            <div class="px-4 sm:px-6 lg:px-8">
              <!-- Same gap as in the product view -->
              <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
                <% if @category_results&.empty? %>
                  <div class="mt-24 col-span-full text-center">
                    <p class="text-2xl">There are no category search results</p>
                  </div>
                <% else %>
                  <%= render partial: "products/category_card", collection: @category_results, as: :category %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 px-4 sm:px-6 lg:px-8">
          <%= render 'kaminari/tailwind/paginator', paginator: @category_results %>
        </div>
      </section>
    <% end %>

    <!-- Language Search Results -->
    <% if params[:filter_by_type] == 'languages' %>
      <section aria-labelledby="languages-heading" class="py-8 sm:py-16 xl:mx-auto xl:max-w-7xl xl:px-8 mt-2">
        <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0 mb-4">
          <h2 id="languages-heading" class="text-2xl font-bold tracking-tight text-gray-900 underline font-mono">
            Language Search Results: <%= params[:search] %>
          </h2>
        </div>
        <div class="mt-4 flow-root">
          <div class="-my-2">
            <div class="px-4 sm:px-6 lg:px-8">
              <!-- Ensure same gap for consistency -->
              <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
                <% if @language_results&.empty? %>
                  <div class="mt-24 col-span-full text-center">
                    <p class="text-2xl">There are no language search results</p>
                  </div>
                <% else %>
                  <%= render partial: "products/language_card", collection: @language_results, as: :language %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 px-4 sm:px-6 lg:px-8">
          <%= render 'kaminari/tailwind/paginator', paginator: @language_results %>
        </div>
      </section>
    <% end %>
  </main>
</div>
