<li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow border border-black border-4 rounded-2xl hover:shadow-[0px_20px_20px_15px_#1a202c] hover:scale-105">
  <div class="flex flex-1 flex-col p-8 border border-blue-500">
    <% if user.profile_picture.attached? %>
      <%= image_tag user.profile_picture, class: "mx-auto h-32 w-32 flex-shrink-0 rounded-full" %>
    <% else %>
      <img class="mx-auto h-32 w-32 flex-shrink-0 rounded-full" src="https://gitlocker.s3.us-east-2.amazonaws.com/man-standing-holding-laptop-while-showing-programming-language-software.png" alt="no profile picture">
    <% end %>
    <h1 class="mt-6 text-sm font-medium text-gray-900 font-mono"><%= user.name %></h3>
    <dl class="mt-1 flex flex-grow flex-col justify-between">
      <dt class="sr-only">Title</dt>
      <dd class="text-sm text-gray-500">@<%= user.username %></dd>
        <% if user.languages.present? && user.languages.size > 0 && user.languages[0]&.name != 'not_specified' %>
            <div class="flex flex-row flex-wrap mt-2 items-center justify-start gap-2">
              <% user.languages.take(3).each do |language| %>
                <p class="text-xs border border-gray-900 rounded px-2 py-1.5 text-gray-700"><%= language.name %></p>
              <% end %>
            </div>
          <% end %>
         <% if user.categories.present? && user.categories.size > 0 && user.categories[0]&.name != 'not_specified' %>
            <div class="flex flex-row flex-wrap mt-2 items-center justify-start gap-2">
              <% user.categories.take(3).each do |category| %>
                <p class="text-xs border border-gray-900 rounded px-2 py-1.5 text-gray-700"><%= category.name %></p>
              <% end %>
            </div>
          <% end %>
    </dl>
  </div>
  <div>
    <div class="-mt-px flex divide-x divide-gray-200">
      <div class="flex w-0 flex-1">
        <%= link_to "GitLocker Profile", marketplace_creator_path(user), class: "relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900 hover:bg-blue-500 hover:text-white" %>
        <a href="https://github.com/<%= user.username %>" target="_blank" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900 hover:bg-orange-500 hover:text-white">
        GitHub Profile
      </a>
      </div>
    </div>
  </div>
</li>
