<style>

#image {
  display: inline-block;
  height: 200px;
  width: 200px;
}

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;
  border-block: 15px solid black;

  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 20s linear infinite;
}


@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

</style>
<section class="relative block bg-slate-400">
<div class="stock-ticker bg-white">
  <ul>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/flutter.png", id: "image", class: "" %>
    </li>
    <li class="plus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/npm.png", id: "image", class: "" %>
    </li>
    <li class="plus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/file-type-git.png", id: "image", class: "" %>
    </li>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/logo-small.8998e9d1.png", id: "image", class: "" %>
    </li>
    <li class="plus">
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/nuget.png", id: "image", class: "" %>
    </li>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/c.png", id: "image", class: "" %>
    </li>
    <li class="plus">
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/rubygems.png", id: "image", class: "" %>
    </li>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/javascript.png", id: "image", class: "" %>
    </li>
    <li class="plus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/heroku.png", id: "image", class: "" %>
    </li>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/linux.png", id: "image", class: "" %>
    </li>
    <li class="plus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/react.png", id: "image", class: "" %>
    </li>
  </ul>
  <ul aria-hidden="true">
     <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/flutter.png", id: "image", class: "" %>
    </li>
    <li class="plus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/npm.png", id: "image", class: "" %>
    </li>
    <li class="plus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/file-type-git.png", id: "image", class: "" %>
    </li>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/logo-small.8998e9d1.png", id: "image", class: "" %>
    </li>
    <li class="plus">
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/nuget.png", id: "image", class: "" %>
    </li>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/c.png", id: "image", class: "" %>
    </li>
    <li class="plus">
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/rubygems.png", id: "image", class: "" %>
    </li>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/javascript.png", id: "image", class: "" %>
    </li>
    <li class="plus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/heroku.png", id: "image", class: "" %>
    </li>
    <li class="minus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/linux.png", id: "image", class: "" %>
    </li>
    <li class="plus">
     <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/react.png", id: "image", class: "" %>
    </li>
  </ul>
</div>
</section>
