<style>
 
#bannerContainer {
	width: 1000px;
	overflow: hidden;
	margin: 50px auto;
	background: white;
}
 
/*photobanner*/
 
#bannerContainer .photobanner {
	width: 3550px;
	margin-bottom: 0px;
	margin-top: 0px
}

#bannerContainer .photobanner #image {
  display: inline-block;
}


/*keyframe animations*/
#bannerContainer .photobanner .first {
	        animation: bannermove 20s linear infinite;
}
 
@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}

</style>
<div id="bannerContainer">
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
      <%= image_tag "https://picsum.photos/350/233/?image=1", id: "image", class: "first" %>
      <%= image_tag "https://picsum.photos/350/233/?image=3", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=4", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=5", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=6", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=1", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=1", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=2", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=3", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=4", id: "image", class: "" %>
    </div>
</div>
