<style>
 
#bannerContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(148 163 184);
}
 
/*photobanner*/
 
#bannerContainer .photobanner {
	width: 3550px;
	margin-bottom: 0px;
	margin-top: 0px
}

#bannerContainer .photobanner #image {
  display: inline-block;
  height: 200px;
  width: 200px;
}


/*keyframe animations*/
#bannerContainer .photobanner .first {
	        animation: bannermove 20s linear infinite;
}
 
@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}

</style>
<section class="relative block bg-slate-400">
<div id="bannerContainer">
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/flutter.png", id: "image", class: "first" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/npm.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/github.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/file-type-git.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/logo-small.8998e9d1.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/nuget.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/c.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/rubygems.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/flutter.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/npm.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/github.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/file-type-git.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/logo-small.8998e9d1.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/nuget.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/c.png", id: "image", class: "" %>
      <%= image_tag "https://gitlocker.s3.us-east-2.amazonaws.com/svgtopng/rubygems.png", id: "image", class: "" %>
    </div>
</div>
</section>
