
<div id="container">
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
      <%= image_tag "https://picsum.photos/350/233/?image=1", id: "image", class: "first" %>
      <%= image_tag "https://picsum.photos/350/233/?image=3", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=4", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=5", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=6", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=1", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=1", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=2", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=3", id: "image", class: "" %>
      <%= image_tag "https://picsum.photos/350/233/?image=4", id: "image", class: "" %>
    </div>
</div>
