<section class="relative block">
  <!-- Carousel Background -->
 <div class="absolute inset-0 z-0 h-full w-full bg-black">
    <%= image_tag "header/banner-01.jpg", class: "h-full w-full object-cover object-center backdrop-brightness-50" %>
  </div>

  <!-- Section Content -->
  <div class="relative container mx-auto px-4 text-center text-white py-16 rounded-3xl">
        <h1 class="text-white text-5xl font-mono max-w-4xl mx-auto text-balance">
          Browse <span class="font-bold hover:underline">GitLocker's</span> selection of <span class="font-bold italic bg-gradient-to-r from-blue-500 via-orange-500 to-orange-700 bg-clip-text text-transparent"><%= Product.count %></span> high-quality <span class="font-bold hover:underline">code repositories</span> or sign up to <span class="font-bold hover:underline">start selling</span>! 
        </h1>
   


    <div class="mt-8 space-x-4">
      <% if user_signed_in? %>
        <%= link_to "Creators", marketplace_creators_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full font-mono" %>
        <%= link_to "Browse", marketplace_browse_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full font-mono" %>
        <%= link_to "Sell your code", new_product_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full font-mono" %>
        <%= link_to "Get paid", funds_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full font-mono" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full font-mono" %>
        <%= link_to "Create an account", new_user_registration_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full font-mono" %>
        <%= link_to "Browse", marketplace_browse_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full font-mono" %>
      <% end %>
    </div>

    <div class="mt-8 flex justify-center space-x-4">
      <%= link_to "JavaScript", '/marketplace/languages/javascript', class: "text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 font-mono" %>
      <%= link_to "Python", '/marketplace/languages/python', class: "text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 font-mono" %>
      <%= link_to "Ruby", '/marketplace/languages/ruby', class: "text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 font-mono" %>
      <%= link_to "HTML", '/marketplace/languages/html', class: "text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 font-mono" %>
      <%= link_to "CSS", '/marketplace/languages/css', class: "text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 font-mono" %>
      <%= link_to "PHP", '/marketplace/languages/php', class: "text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 font-mono" %>
    </div>
  </div>
</section>

