<section class="relative block">
  <!-- Carousel Background -->
 <div class="absolute inset-0 z-0 h-full w-full bg-black">
    <%= render CarouselComponent.new([
      asset_path('header/image1.png'),
      asset_path('header/image2.png'),
      asset_path('header/image3.png'),
      asset_path('header/image4.png')
    ], "h-full w-full object-cover object-center") %>
  </div>

  <!-- Section Content -->
  <div class="relative container mx-auto px-4 text-center text-white py-16 z-10">
     <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10 flex">
        <h1 class="text-3xl md:text-4xl font-light max-w-4xl mx-auto">
          Browse <span class="font-bold">GitLocker’s selection</span> of high-quality private <span class="font-bold">GitHub</span> repositories.
        </h1>
     </div>

    <div class="mt-8 flex justify-center">
      <form action="/marketplace/search" method="get" class="flex items-center w-full max-w-4xl space-x-4">
        <select name="category_id" class="w-40 p-2 rounded-md text-gray-700 z-10">
          <option value="">All Categories</option>
          <% Category.all.each do |category| %>
            <option value="<%= category.id %>" <%= 'selected' if params[:category_id].to_i == category.id %>><%= category.name %></option>
          <% end %>
        </select>

        <div class="relative max-w-2xl w-full z-10">
          <input
            type="text"
            name="search"
            placeholder="Search"
            id="productSearch"
            class="w-full p-2 rounded-md text-gray-700"
            value="<%= params[:search] %>"
          >
          <button type="submit" class="absolute inset-y-0 right-0 px-4 text-gray-600">
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </button>
        </div>
      </form>
    </div>

    <div class="mt-8 space-x-4 z-10">
      <% if user_signed_in? %>
        <%= link_to "Browse", marketplace_browse_path, class: "inline-block bg-white text-blue-600 px-4 py-2 rounded-md" %>
        <%= link_to "Sell your code", seller_dashboard_path, class: "inline-block bg-white text-blue-600 px-4 py-2 rounded-md" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "inline-block bg-white text-blue-600 px-4 py-2 rounded-md" %>
        <%= link_to "Create an account", new_user_registration_path, class: "inline-block bg-white text-blue-600 px-4 py-2 rounded-md" %>
        <%= link_to "Browse", marketplace_browse_path, class: "inline-block bg-white text-blue-600 px-4 py-2 rounded-md" %>
      <% end %>
    </div>

    <div class="mt-8 flex justify-center space-x-4 z-10">
      <%= link_to "JavaScript", '/marketplace/languages/javascript', class: "border border-white rounded-md px-2 py-1.5 text-white hover:bg-white hover:bg-opacity-20" %>
      <%= link_to "Python", '/marketplace/languages/python', class: "border border-white rounded-md px-2 py-1.5 text-white hover:bg-white hover:bg-opacity-20" %>
      <%= link_to "C++", '/marketplace/languages/c++', class: "border border-white rounded-md px-2 py-1.5 text-white hover:bg-white hover:bg-opacity-20" %>
      <%= link_to "HTML", '/marketplace/languages/html', class: "border border-white rounded-md px-2 py-1.5 text-white hover:bg-white hover:bg-opacity-20" %>
      <%= link_to "CSS", '/marketplace/languages/css', class: "border border-white rounded-md px-2 py-1.5 text-white hover:bg-white hover:bg-opacity-20" %>
      <%= link_to "PHP", '/marketplace/languages/php', class: "border border-white rounded-md px-2 py-1.5 text-white hover:bg-white hover:bg-opacity-20" %>
    </div>
  </div>
</section>
