<section class="relative block">
  <!-- Carousel Background -->
 <div class="absolute inset-0 z-0 h-full w-full bg-black">
    <%= image_tag "header/image1.png", class: "h-full w-full object-cover object-center" %>
  </div>

  <!-- Section Content -->
  <div class="relative container mx-auto px-4 text-center text-white py-16 rounded-3xl">
        <h1 class="text-white text-5xl font-light max-w-4xl mx-auto">
          Browse <span class="font-bold">GitLocker’s selection</span> of high-quality private <span class="font-bold">GitHub</span> repositories. Sign up to <span class="font-bold">start selling</span> your code! 
        </h1>
   


    <div class="mt-8 space-x-4">
      <% if user_signed_in? %>
        <%= link_to "Creators", marketplace_creators_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
        <%= link_to "Browse", marketplace_browse_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
        <%= link_to "Sell your code", new_product_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
        <%= link_to "Get paid", funds_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
        <%= link_to "Create an account", new_user_registration_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
        <%= link_to "Browse", marketplace_browse_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
      <% end %>
    </div>

    <div class="mt-8 flex justify-center space-x-4">
      <%= link_to "JavaScript", '/marketplace/languages/javascript', class: "text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
      <%= link_to "Python", '/marketplace/languages/python', class: "text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
      <%= link_to "Ruby", '/marketplace/languages/ruby', class: "text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
      <%= link_to "HTML", '/marketplace/languages/html', class: "text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
      <%= link_to "CSS", '/marketplace/languages/css', class: "text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
      <%= link_to "PHP", '/marketplace/languages/php', class: "text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
    </div>
  </div>
</section>
