<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <%= render 'header' %>

  <!-- Home Content -->
  <div class="bg-slate-200">
    <main class="space-y-16 pt-12 pb-24">
      <% if @recent_products.count > 0 %>
        <!-- Recent Section -->
        <section aria-labelledby="recent-heading" class="xl:mx-auto xl:max-w-7xl xl:px-8">
          <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
            <h2 id="recent-heading" class="text-3xl font-bold tracking-tight text-black underline">Recent</h2>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            <%= link_to marketplace_browse_recent_path, class: "link" do %>
              Browse All Recent Repositories
              <span aria-hidden="true">&rarr;</span>
            <% end %>
            </button>
          </div>

          <div class="mt-6 flow-root">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-8 px-4 sm:px-6 lg:px-8 xl:px-0 ">
              <%= render partial: "home/product", collection: @recent_products, as: :product %>
            </div>
          </div>
        </section>
      <% end %>

      <% if @popular_products.count > 0 %>
        <!-- Popular Section -->
        <section aria-labelledby="popular-heading" class="xl:mx-auto xl:max-w-7xl xl:px-8 mb-16">
          <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
            <h2 id="popular-heading" class="text-3xl font-bold tracking-tight text-black underline">Popular</h2>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            <%= link_to marketplace_browse_popular_path, class: "link" do %>
              Browse All Popular Repositories
              <span aria-hidden="true">&rarr;</span>
            <% end %>
             </button>
          </div>

          <div class="mt-6 flow-root">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-8 px-4 sm:px-6 lg:px-8 xl:px-0 ">
              <%= render partial: "home/product", collection: @popular_products, as: :product %>
            </div>
          </div>
        </section>
      <% end %>
      <%= render 'middle' %>
      <% if @languages.count > 0 %>
        <!-- Languages Section -->
        <section aria-labelledby="languages-heading" class="xl:mx-auto xl:max-w-7xl xl:px-8">
          <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
            <h2 id="languages-heading" class="text-3xl font-bold tracking-tight text-black underline">Languages</h2>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            <%= link_to marketplace_browse_languages_path, class: "link" do %>
              Browse All Languages
              <span aria-hidden="true">&rarr;</span>
            <% end %>
            </button>
          </div>

          <div class="mt-6 flow-root">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-8 px-4 sm:px-6 lg:px-8 xl:px-0 ">
              <%= render partial: "home/language", collection: @languages, as: :language %>
            </div>
          </div>
        </section>
      <% end %>

      <% if @categories.count > 0 %>
        <!-- Categories Section -->
        <section aria-labelledby="categories-heading" class="xl:mx-auto xl:max-w-7xl xl:px-8">
          <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
            <h2 id="categories-heading" class="text-3xl font-bold tracking-tight text-black underline">Categories</h2>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            <%= link_to marketplace_browse_categories_path, class: "link" do %>
              Browse All Categories
              <span aria-hidden="true">&rarr;</span>
            <% end %>
            </button>
          </div>

          <div class="mt-6 flow-root">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-8 px-4 sm:px-6 lg:px-8 xl:px-0 ">
              <%= render partial: "home/category", collection: @categories, as: :category %>
            </div>
          </div>
        </section>
      <% end %>
    <%= render 'footer' %>
    
  <div class="flex flex-row justify-center space-x-4">
     <div class="flex justify-center flex-col items-center">
          <div class="flex">
            <h1 class="font-bold">Learn about GitHub by watching this!</h1>
          </div>
          <div class="flex">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/pBy1zgt0XPc?si=Tir_7wWKTrgfJCQn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
      </div>
       <div class="flex justify-center flex-col items-center">
          <div class="flex">
            <h1 class="font-bold">Watch this to learn the basics of Git!</h1>
          </div>
          <div class="flex">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r8jQ9hVA2qs?si=rAMey501Y8uKFcFB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
        <div class="flex justify-center flex-col items-center">
          <div class="flex">
            <h1 class="font-bold">Need help making a GitHub repository? Watch this!</h1>
          </div>
          <div class="flex">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-RZ03WHqkaY?si=N1D7srdj_cAZikYl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>

    </div>
    </main>
  </div>
</body>
</html>
