<div class="bg-gradient-to-r from-blue-700 to-orange-500 min-h-full">
<div class="mb-100">
<h1 class="text-3xl font-mono underline">Learning Resources</h1>
<ul>
  <li>
     <%= link_to "freeCodeCamp", "https://www.freecodecamp.org", class: "font-mono text-2xl hover:text-white" %>
  </li>
   <li>
     <%= link_to "Codecademy", "https://www.codecademy.com", class: "font-mono text-2xl hover:text-white" %>
  </li>
  <li>
     <%= link_to "The Odin Project", "https://www.theodinproject.com", class: "font-mono text-2xl hover:text-white" %>
  </li>
   <li>
     <%= link_to "Scrimba", "https://v2.scrimba.com", class: "font-mono text-2xl hover:text-white" %>
  </li>
   <li>
     <%= link_to "Udemy", "https://www.udemy.com", class: "font-mono text-2xl hover:text-white" %>
  </li>
   <li>
     <%= link_to "Khan Academy", "https://www.khanacademy.org", class: "font-mono text-2xl hover:text-white" %>
  </li>
  <li>
     <%= link_to "Coursera", "https://www.coursera.org", class: "font-mono text-2xl hover:text-white" %>
  </li>
  <li>
     <%= link_to "Stack Overflow", "https://www.stackoverflow.com", class: "font-mono text-2xl hover:text-white" %>
  </li>
</ul>
</div>
</div>
