<div class="bg-gradient-to-r from-blue-700 to-orange-500 min-h-screen">
<div class="space-y-8">
<h1 class="text-3xl font-mono underline">Learning Resources</h1>
<ul class="space-y-8">
  <li>
     <%= link_to "freeCodeCamp", "https://www.freecodecamp.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
      <h2 class="text-xl">-freeCodeCamp is a non-profit educational organization that consists of an interactive learning web platform, an online community forum, chat rooms, online publications and local organizations that intend to make learning software development accessible to anyone.</h2>
  </li>
   <li>
     <%= link_to "Codecademy", "https://www.codecademy.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-Codecademy is an American online interactive platform that offers free coding classes in 12 different programming languages including Python, Java, Go, JavaScript, Ruby, SQL, C++, C#, and Swift, as well as markup languages HTML and CSS.</h2>
  </li>
  <li>
     <%= link_to "The Odin Project", "https://www.theodinproject.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-The Odin Project provides a free open source coding curriculum that can be taken entirely online. Since its inception, it has helped many students get hired as developers and has assisted countless others in learning enough programming to work on their own personal projects.</h2>
  </li>
   <li>
     <%= link_to "Scrimba", "https://v2.scrimba.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-Scrimba is a place to level up your coding skills and build awesome projects.</h2>
  </li>
   <li>
     <%= link_to "Udemy", "https://www.udemy.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
     <h2 class="text-xl">-Udemy is an online learning and teaching marketplace with over 250000 courses and 73 million students. Learn programming, marketing, data science and more.</h2>
  </li>
   <li>
     <%= link_to "Khan Academy", "https://www.khanacademy.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-Khan Academy is a free, online educational resource for all ages that offers a variety of learning tools and resources.</h2>
  </li>
  <li>
     <%= link_to "Coursera", "https://www.coursera.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-Coursera is the global online learning platform that offers anyone, anywhere access to online courses and degrees from world-class universities and companies.</h2>
  </li>
  <li>
     <%= link_to "Stack Overflow", "https://www.stackoverflow.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-Stack Overflow is the largest, most trusted online community for developers to learn, share​ ​their programming ​knowledge, and build their careers.</h2>
  </li>
   <li>
     <%= link_to "Codewars", "https://www.codewars.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-Codewars is an online platform for learning and practicing coding skills through a variety of programming challenges.</h2>
  </li>
   <li>
     <%= link_to "edX", "https://www.edx.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-edX is the online learning platform from world-leading digital education company 2U, Inc. edX was founded by Harvard and MIT as an experiment to make the world’s best education available to everyone.</h2>
  </li>
   <li>
     <%= link_to "HackerRank", "https://www.hackerrank.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-HackerRank is a technology company that focuses on competitive programming challenges for both consumers and businesses.</h2>
  </li>
   <li>
     <%= link_to "Exercism", "https://www.exercism.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-Get really good at programming. Develop fluency in 74 programming languages with our unique blend of learning, practice and mentoring.</h2>
  </li>
   <li>
     <%= link_to "Ruby on Rails Guide", "https://guides.rubyonrails.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-These guides are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.</h2>
  </li>
   <li>
     <%= link_to "MDN Web Docs", "https://developer.mozilla.org/en-US", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-The MDN Web Docs site provides information about Open Web technologies including HTML, CSS, and APIs for both Web sites and progressive web apps.</h2>
  </li>
   <li>
     <%= link_to "W3Schools", "https://www.w3schools.com/", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-We create simplified and interactive learning experiences. Learning web development should be easy to understand and available for everyone, everywhere! W3Schools is a school for web developers, covering all the aspects of web development.</h2>
  </li>
  <li>
     <%= link_to "Udacity", "https://www.udacity.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
    <h2 class="text-xl">-Udacity—Learn AI, Data, & More — Content is co-created with the world’s most innovative tech companies.</h2>
  </li>
</ul>
</div>
</div>
