<div class="bg-gradient-to-r from-blue-700 to-orange-500 min-h-screen">
<div>
<h1 class="text-3xl font-mono underline">Learning Resources</h1>
<ul class="space-y-8">
  <li>
     <%= link_to "freeCodeCamp", "https://www.freecodecamp.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "Codecademy", "https://www.codecademy.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
  <li>
     <%= link_to "The Odin Project", "https://www.theodinproject.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "Scrimba", "https://v2.scrimba.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "Udemy", "https://www.udemy.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "Khan Academy", "https://www.khanacademy.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
  <li>
     <%= link_to "Coursera", "https://www.coursera.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
  <li>
     <%= link_to "Stack Overflow", "https://www.stackoverflow.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "Codewars", "https://www.codewars.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "edX", "https://www.edx.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "HackerRank", "https://www.hackerrank.com", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "Exercism", "https://www.exercism.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "Ruby on Rails Guide", "https://guides.rubyonrails.org", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "MDN Web Docs", "https://developer.mozilla.org/en-US", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
   <li>
     <%= link_to "W3Schools", "https://www.w3schools.com/", class: "font-mono text-2xl hover:text-white", target: :_blank %>
  </li>
</ul>
</div>
</div>
