<% if paginator.total_pages > 1 %>
  <nav class="flex items-center justify-center mt-4">
    <ul class="pagination flex space-x-2">
      <% if paginator.current_page > 1 %>
        <li>
          <%= link_to raw('&lsaquo; Prev'), url_for(request.params.merge(page: paginator.current_page - 1)), class: "text-gray-600 hover:text-gray-800 font-semibold px-2 py-1 rounded border border-gray-300" %>
        </li>
      <% else %>
        <li class="disabled">
          <span class="text-white font-semibold px-2 py-1 rounded border border-black bg-orange-500 hover:bg-orange-700 hover:text-black cursor-not-allowed">&lsaquo; Prev</span>
        </li>
      <% end %>

      <% if paginator.total_pages <= 7 %>
        <% (1..paginator.total_pages).each do |page| %>
          <li>
            <%= link_to page, url_for(request.params.merge(page: page)), class: "px-2 py-1 rounded-full border border-gray-300 hover:bg-gray-100 #{'font-semibold text-gray-800' if paginator.current_page == page}" %>
          </li>
        <% end %>
      <% else %>
        <% if paginator.current_page > 3 %>
          <li>
            <%= link_to 1, url_for(request.params.merge(page: 1)), class: "px-2 py-1 rounded-full border border-gray-300 hover:bg-gray-100 #{'font-semibold text-gray-800' if paginator.current_page == 1}" %>
          </li>
          <li class="disabled"><span class="px-2 py-1">...</span></li>
        <% end %>

        <% (-2..2).each do |i| %>
          <% page = paginator.current_page + i %>
          <% if page > 1 && page < paginator.total_pages %>
            <li>
              <%= link_to page, url_for(request.params.merge(page: page)), class: "px-2 py-1 rounded-full border border-gray-300 hover:bg-gray-100 #{'font-semibold text-gray-800' if paginator.current_page == page}" %>
            </li>
          <% end %>
        <% end %>

        <% if paginator.current_page < paginator.total_pages - 2 %>
          <li class="disabled"><span class="px-2 py-1">...</span></li>
          <li>
            <%= link_to paginator.total_pages, url_for(request.params.merge(page: paginator.total_pages)), class: "px-2 py-1 rounded-full border border-gray-300 hover:bg-gray-100 #{'font-semibold text-gray-800' if paginator.current_page == paginator.total_pages}" %>
          </li>
        <% end %>
      <% end %>

      <% if paginator.current_page < paginator.total_pages %>
        <li>
          <%= link_to raw('Next &rsaquo;'), url_for(request.params.merge(page: paginator.current_page + 1)), class: "text-gray-600 hover:text-gray-800 font-semibold px-2 py-1 rounded border border-gray-300" %>
        </li>
      <% else %>
        <li class="disabled">
          <span class="text-white hover:text-black bg-orange-500 hover:bg-orange-700 font-semibold px-2 py-1 rounded border border-black cursor-not-allowed">Next &rsaquo;</span>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
