<div class="bg-white">
  <%=
    render BreadcrumbComponent.new(current_user,[
      { text: "Products", url: products_path },
      { text: @product.name, url: product_path(@product) },
      { text: "Add Review" }
    ])
  %>
  <div class="mx-auto px-4 py-16 sm:px-6 sm:py-24 lg:max-w-2xl lg:px-8">
    <!--
      This example requires some changes to your config:

      ```
      // tailwind.config.js
      module.exports = {
        // ...
        plugins: [
          // ...
          require('@tailwindcss/forms'),
        ],
      }
      ```
    -->
    <%= form_with model: Review.new, url: marketplace_library_reviews_path(@product), data: { turbo: false } do |f| %>
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Create a Review</h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">Tell the world about <%= @product.name %>.</p>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="col-span-full">
              <%= f.label :rating, class: "block text-sm font-medium leading-6 text-gray-900" %>
              <div class="mt-2">
                <div
                  data-controller="rating"
                  class="flex gap-0.5"
                >
                  <%= f.hidden_field :rating, data: { "rating-target": "input" } %>
                  <% 5.times do |i| %>
                    <svg
                      data-rating="<%= i + 1 %>"
                      data-rating-target="star"
                      data-action="click->rating#setRating"
                      class="h-8 w-8 shrink-0 fill-gray-300 cursor-pointer" viewBox="0 0 256 256"
                    >
                      <path
                        data-rating="<%= i + 1 %>"
                        d="M239.2 97.4A16.4 16.4.0 00224.6 86l-59.4-4.1-22-55.5A16.4 16.4.0 00128 16h0a16.4 16.4.0 00-15.2 10.4L90.4 82.2 31.4 86A16.5 16.5.0 0016.8 97.4 16.8 16.8.0 0022 115.5l45.4 38.4L53.9 207a18.5 18.5.0 007 19.6 18 18 0 0020.1.6l46.9-29.7h.2l50.5 31.9a16.1 16.1.0 008.7 2.6 16.5 16.5.0 0015.8-20.8l-14.3-58.1L234 115.5A16.8 16.8.0 00239.2 97.4z">
                      </path>
                    </svg>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-span-full">
              <%= f.label :body, "Written Review", class: "block text-sm font-medium leading-6 text-gray-900" %>
              <div class="mt-2">
                <%= f.text_area :body, rows: "5", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
              <p class="mt-3 text-sm leading-6 text-gray-600">Write a few sentences about <%= @product.name %>.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="save_buttons mt-6 flex items-center justify-end gap-x-6">
        <%= link_to "Cancel", :back, class: "text-sm font-semibold leading-6 text-gray-900" %>
        <%= f.submit "Submit", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>
</div>
