<%= render BreadcrumbComponent.new(current_user, [{ text: "Funds", url: funds_path }]) %>
<div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8" data-controller="checkout" style="min-height: 27.65rem;">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div class="flex flex-wrap gap-4">
      <div class="bg-white p-4 rounded shadow-md flex-grow">
        <% [["Pending", sprintf("$%.2f", @funds)]].each do |label, amount, extra| %>
          <div class="text-center">
            <p class="text-gray-500">
              <%= label %>
              <span class="relative" x-data="{ tooltip: false }">
                <span @mouseenter="tooltip = true" @mouseleave="tooltip = false" class="inline-block w-5 h-5 bg-black text-white text-xs rounded-full cursor-pointer">?</span>
                <span x-show="tooltip" class="absolute z-10 w-40 p-2 -mt-8 text-sm text-white bg-black rounded-lg" style="display: none;">Payments are pending for a week for customers to review</span>
              </span>
            </p>
            <p class="text-2xl font-semibold"><%= amount %></p>
            <% if extra %>
              <p class="text-gray-500 text-sm"><%= extra %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="bg-white p-4 rounded shadow-md flex-grow">
        <% [["Available", sprintf("$%.2f", current_user.balance)]].each do |label, amount, extra| %>
          <div class="text-center">
            <p class="text-gray-500">
              <%= label %>
              <span class="relative" x-data="{ tooltip: false }">
                <span @mouseenter="tooltip = true" @mouseleave="tooltip = false" class="inline-block w-5 h-5 bg-black text-white text-xs rounded-full cursor-pointer">?</span>
                <span x-show="tooltip" class="absolute z-10 w-40 p-2 -mt-8 text-sm text-white bg-black rounded-lg" style="display: none;">Transfers are processed only for amounts exceeding $0.50</span>
              </span>
            </p>
            <p class="text-2xl font-semibold"><%= amount %></p>
            <% if extra %>
              <p class="text-gray-500 text-sm"><%= extra %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="bg-white p-4 rounded shadow-md flex-grow">
        <% [["Total Earnings", sprintf("$%.2f", current_user.total_earning)]].each do |label, amount, extra| %>
          <div class="text-center">
            <p class="text-gray-500">
              <%= label %>
            </p>
            <p class="text-2xl font-semibold"><%= amount %></p>
            <% if extra %>
              <p class="text-gray-500 text-sm"><%= extra %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br/>
  <div class="col-span-1">
    <h2 class="text-lg font-medium text-gray-900">Payment</h2>
    <h2>If you have any issues withdrawing your funds please email cody@gitlocker.com and describe your issue with either a loom video or screenshots of the issue, and we will get right back with you and help you get your money!</h2>
    <div class="mt-6">
      <%= form_tag funds_path, method: :post, class: "stripe-form", "data-turbo" => "false" do %>
        <%= submit_tag "Get Paid through Stripe", disabled: current_user.balance <= 0, class: "mt-4 w-full bg-indigo-600 border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white disabled:cursor-not-allowed disabled:bg-indigo-300 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500 cursor-pointer" %>
      <% end %>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.0" defer></script>
