<div class="bg-gradient-to-r from-blue-700 to-orange-500">
  <%=
    render BreadcrumbComponent.new(current_user,[
      { text: "Categories", url: marketplace_browse_categories_path },
      { text: @category.name, url: marketplace_category_path(@category) }
    ])
  %>
  <main>
    <section aria-labelledby="category-heading" class="py-16 sm:py-16 xl:mx-auto xl:px-8">
      <h2 class="text-3xl font-semibold mb-4 text-center underline font-mono"><span class="text-orange-500 italic"><%= @category.products.count %></span> <%= @category.name %> Category Products</h2>
      <div class="bg-gradient-to-r from-blue-700 to-orange-500">
      <%= image_tag asset_path("categories/#{@category.image_name}"), class: "h-32 w-48 object-cover object-center mx-auto" %>
    </div>
      <div class="mt-4 flow-root">
        <div class="-my-2">
          <div class="relative box-content overflow-x-auto py-2 xl:overflow-visible">
            <% if @products.any? %>
              <h2 class="text-3xl font-semibold mb-4 underline font-mono">List of Products</h2>
              <div class="pb-6">
              <%= render partial: 'shared/productFilter' %>
              </div>
              <div class="absolute flex flex-wrap justify-center gap-4 px-4 sm:px-6 sm:grid-cols-2 lg:px-8 xl:relative xl:grid xl:grid-cols-5 xl:gap-x-8 xl:space-x-0 xl:px-0">
                <% @products.each do |product| %>
                  <%= render partial: "home/product", locals: { product: product } %>
                <% end %>
              </div>
            <% else %>
              <p class="text-center text-black">No products available for this category.</p>
            <% end %>
          </div>
          <div class="mt-4 px-4 sm:px-6 lg:px-8 space-y-8">
          <%= render 'kaminari/tailwind/paginator', paginator: @products, params: { sort_by: params[:sort_by] } %>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
