<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="add_product_form bg-gradient-to-r from-blue-700 to-orange-500 min-h-screen min-w-full md:p-8 py-8 px-4">
  <%= form_for @product, url: product_path(@product), method: :patch, data: { turbo: false, remote: true }, html: { id: "product-form" } do |f| %>
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 md:pb-12 pb-5">
        <h1 class="text-base text-3xl font-semibold leading-7 text-gray-900 font-mono">Product Information</h1>
        <p class="mt-1 text-xl leading-6 text-black font-mono">Below are your basic product information.</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

          <div class="sm:col-span-4" id= "url-field">
            <%= f.label :url,"GitHub Private Repository URL", class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
            <div class="mt-2">
              <%= f.text_field :url, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", maxlength: "70", placeholder: "Paste Repository URL", readonly: false %>
            </div>
          </div>
    <div class="upload_repo_zip sm:col-span-4">
      <div class="sm:col-span-4 text-center2">
        <span class="text-gray-500 font-medium">OR</span>
      </div>
      <!-- New Upload ZIP File Field -->
      <div class="sm:col-span-4" id="zip-upload-field">
        <%= f.label :upload_file, "Upload ZIP File", class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
        <div class="mt-2">
          <%= f.file_field :upload_file, class: "form-control w-full", id: "upload_file", accept: ".zip" %>
          <h1>(Only .zip files are allowed)</h1>
          <button id="clear_file" type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none">
            Clear
          </button>
        </div>
      </div>
    </div>


          <div class="sm:col-span-4">
            <%= f.label :name, class: "block text-xl leading-6 text-gray-900 font-mono" %>
            <div class="mt-2">
              <%= f.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", maxlength: "70", required: true %>
            </div>
          </div>

          <div class="sm:col-span-4">
            <%= f.label :description, class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
            <div class="mt-2">
              <%= f.text_area :description, id: "descriptionTextArea", class: "ckEditor block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", required: true %>
              <span class="d-block question_modal_input_subtext" id="descriptionTextAreaCount">
                1000 words left
              </span>
            </div>
          </div>

          <div class="sm:col-span-4">
          <%= f.label :features, "Features", class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
          <div class="mt-2">
            <%= f.text_area :features, id: "featuresTextArea", class: "ckEditor block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
            <span class="d-block question_modal_input_subtext" id="featuresTextAreaCount">
              1000 words left
            </span>
          </div>
        </div>

         <div class="sm:col-span-4">
          <%= f.label :requirements, "Requirements", class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
          <div class="mt-2">
            <%= f.text_area :requirements, id: "requirementsTextArea", class: "ckEditor block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
            <span class="d-block question_modal_input_subtext" id="requirementsTextAreaCount">
              1000 words left
            </span>
          </div>
        </div>

         <div class="sm:col-span-4">
          <%= f.label :instructions, "Instructions", class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
          <div class="mt-2">
            <%= f.text_area :instructions, id: "instructionsTextArea", class: "ckEditor block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
            <span class="d-block question_modal_input_subtext" id="instructionsTextAreaCount">
              1000 words left
            </span>
          </div>
        </div>

          <div class="sm:col-span-4">
            <%= f.label :price, class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
            <div class="mt-2">
              <%= f.number_field :price, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", required: true %>
            </div>
          </div>

        <div class="sm:col-span-4">
          <%= f.label :covers, class: "block text-xl font-medium leading-6 text-gray-900 font-mono" do %>
            Cover Images (Limit of 10 and max file size of 100mb each)
          <% end %>
          <div class="mt-2">
            <% if @product.covers.attached? %>
              <ul>
                <% @product.covers.each do |cover| %>
                  <li>
                    <%= image_tag cover.variant(resize_to_limit: [100, 100]) %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <%= f.file_field :covers, multiple: true, class: "form-control w-full", id: "covers" %>
          </div>
          <br>
          <h1>(To select multiple images please use CTRL on Windows or command on Mac)</h1>
        </div>

          <div class="sm:col-span-4">
            <label for="product_video_source" class="block text-xl font-medium leading-6 text-gray-900 font-mono">Video Source</label>
            <div class="mt-2">
              <select id="product_video_source" class="form-control" onchange="toggleVideoFields()">
                <option value="">Select Video Source</option>
                <option value="Preview Video URL">Preview Video URL</option>
                <option value="Preview Video File">Preview Video File</option>
              </select>
            </div>
          </div>

          <div class="sm:col-span-4" id="preview_video_url_field" style="<%= @product.preview_video_url.present? ? '' : 'display: none;' %>">
            <%= f.label :preview_video_url, class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
            <div class="mt-2">
              <%= f.text_field :preview_video_url, value: @product.preview_video_url, class: "form-control", id: "product_preview_video_url" %>
            </div>
          </div>

          <div class="sm:col-span-4" id="video_file_field" style="<%= @product.video_file.attached? ? '' : 'display: none;' %>">
            <%= f.label :video_file, class: "block text-xl font-medium leading-6 text-gray-900 font-mono" do %>
              Preview Video Source (file size limit of 1 GB)
            <% end %>
            <div class="mt-2">
              <% if @product.video_file.attached? %>
                <video width="400" controls>
                  <source src="<%= url_for(@product.video_file) %>" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              <% end %>
              <%= f.file_field :video_file, class: "form-control", id: "product_video_file" %>
            </div>
          </div>

        <div class="sm:col-span-4">
          <%= f.label :categories, class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
          <div class="mt-2">
            <select class="js-example-basic-multiple w-40 sm:w-50 mt-1 block rounded-md shadow-sm border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="categoriesSelect" multiple="multiple">
              <% Category.all.each do |category| %>
                <option value="<%= category.id %>" <%= 'selected' if @product.categories.include?(category) %>><%= category.name %></option>
              <% end %>
            </select>
          </div>
        </div>

          <div class="sm:col-span-4">
            <%= f.label :language_ids, "Languages", class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
            <div class="mt-2">
              <select class="js-example-basic-multiple w-40 sm:w-50 mt-1 block rounded-md shadow-sm border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="languagesSelect" multiple="multiple">
                <% Language.all.each do |language| %>
                  <option value="<%= language.id %>" <%= 'selected' if @product.language_ids.include?(language.id) %>><%= language.name %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="sm:col-span-4">
          <%= f.label :featured, "Feature This Product", class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
          <h2 class="font-mono font-bold text-lg">(For $25 you can permanently feature your repository so that it becomes searchable in the featured section.)</h2>
          <div class="mt-2">
            <%= f.check_box :featured, id:"featured", :style => "width: 20px; height: 20px;" %>
          </div>
        </div>

          <div class="sm:col-span-4">
            <%= f.label :demo_url, class: "block text-xl font-medium leading-6 text-gray-900 font-mono" %>
            <div class="mt-2">
              <%= f.text_field :demo_url, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", maxlength: "70", required: false, placeholder: "https://demo_url.com" %>
            </div>
          </div>

          <div class="sm:col-span-4">
              <div id="upload-status" class="mt-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="save_buttons mt-6 flex items-center justify-end gap-x-6">
      <%= link_to "Cancel", :back, class: "text-sm font-semibold leading-6 text-gray-900" %>
      <%= f.submit "Save", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>
</div>
<div class="mssg_saved_successfully flex gap-10 flex-col justify-center items-center" style="display: none">
  <div class="loader_icon">
    <i class="fa fa-spinner fa-spin" style="font-size: 90px; color: rgba(22,101,52,.8)"></i>
  </div>
  <p>We are process your files in the background. You can close this tab also. You will be notified when it is on the market.</p>
</div>
<script type="text/javascript">
  function toggleVideoFields() {
    var selectedOption = $("#product_video_source").val();
    if (selectedOption === "Preview Video URL") {
      $("#preview_video_url_field").show();
      $("#video_file_field").hide();
    } else if (selectedOption === "Preview Video File") {
      $("#preview_video_url_field").hide();
      $("#video_file_field").show();
    } else {
      $("#preview_video_url_field").hide();
      $("#video_file_field").hide();
    }
  }
  $(document).ready(function() {




     $('#upload_file').on('change', function() {
    var file = $(this).prop('files')[0];
    if (file && file.type === 'application/zip') {
      $('#url-field input').prop('disabled', true);
      $('#clear-icon-container').removeClass('hidden');
    } else {
      $('#url-field input').prop('disabled', false);
    }
  });

  $('#url-field input').on('input', function() {
    var url = $(this).val();
    if (url.trim() !== '') {
      $('#upload_file').prop('disabled', true);
      $('#clear-icon-container').addClass('hidden'); 

    } else {
      $('#upload_file').prop('disabled', false);

    }
  });

  $('#clear_file').on('click', function() {
    $('#upload_file').val('');
    $('#url-field input').prop('disabled', false);
    $('#upload_file').prop('disabled', false);
  });



    toggleVideoFields();
    $("#product_video_source").change(function() {
      toggleVideoFields();
    });
    $('.js-example-basic-multiple').select2();
    var selectedCategories = [];
    var selectedLanguages = [];

   <% @product.categories.each do |category| %>
    selectedCategories.push(<%= category.id %>);
    <% end %>

    <% @product.languages.each do |language| %>
      selectedLanguages.push("<%= language.id %>");
    <% end %>

    $('#categoriesSelect').on('change', function() {
      selectedCategories = $(this).val();
      console.log(selectedCategories);
    });

    $('#languagesSelect').on('change', function() {
      selectedLanguages = $(this).val();
      console.log(selectedLanguages);
    });

    $('#product-form').submit(function(event) {
      event.preventDefault();
      
      var formData = new FormData();
      formData.append('authenticity_token', $('meta[name=csrf-token]').attr('content'));
      formData.append('product[name]', $('#product_name').val());
      // Append CKEditor data to FormData
      for (var i = 0; i < ckEditorInstances.length; i++) {
          let ckEditorInstance = CKEDITOR.instances[ckEditorInstances[i].id]; // Get the CKEditor instance
          if (ckEditorInstance) {
              formData.append(ckEditorInstances[i].name, ckEditorInstance.getData()); // Append data
          }
      }
      formData.append('product[price]', $('#product_price').val());
      formData.append('product[featured]', $('#featured:checked').val() || 0);

      const upload_file = document.getElementById('upload_file');
        const product_upload_file_file = upload_file.files[0];
        if (product_upload_file_file) {
            formData.append('product[upload_file]', product_upload_file_file);
            $('#product_url').val('')
        }

      formData.append('product[product_url]', $('#product_url').val());
      var coverImages = $('#covers')[0].files;
      $.each(coverImages, function(index, image) {
          formData.append('product[covers][]', image);
      });
      const fileInput = document.getElementById('product_video_file');
      const product_file = fileInput.files[0];

      if (product_file) {
        formData.append('product[video_file]', product_file);
      }

      



      formData.append('product[preview_video_url]', $('#product_preview_video_url').val());
      formData.append('product[demo_url]', $('#product_demo_url').val());
      
      if (selectedCategories && selectedCategories.length > 0) {
        formData.set('product[category_ids][]', selectedCategories);
      }
      if (selectedLanguages && selectedLanguages.length > 0) {
        formData.set('product[language_ids][]', selectedLanguages);
      }
      var url = "/products/" + <%= @product.id %>;

      $.ajax({
          type: 'PATCH',
          url: url,
          data: formData,
          processData: false,
          contentType: false,
          xhr: function() {
              var xhr = new window.XMLHttpRequest();
              xhr.upload.addEventListener('progress', function(evt) {
                $('#upload-status').html('<img class="w-10 h-10" src="<%= asset_path('loading.gif') %>" alt="Loading"> Uploading');
              }, false);
              return xhr;
          },
          success: function(data) {
            
            if (data.url) {
                window.location.href = data.url;
              } else {  
                $('#upload-status').html('<img class="w-10 h-10" src="<%= asset_path('tick.png') %>" alt="Tick"> Upload complete');
                $(".add_product_form").hide();
                $(".save_buttons").remove();
                $(".mssg_saved_successfully").show()   
              }         
          },
          error: function(xhr, status, error) {
              if (xhr.status === 422) {
                  var errors = xhr.responseJSON.message;
                  if (errors) {
                      $('#upload-status').text('Error: ' + errors);
                  } else {
                      $('#upload-status').text('Error: ' + error);
                  }
              } else {
                  $('#upload-status').text('Error: ' + error);
              }
          }
      });

    });

    var titleInput = document.getElementById('product_name');
    titleInput.addEventListener('input', function() {
      var currentValue = this.value;
      if (currentValue.length > 70) {
        this.value = currentValue.slice(0, 70);
      }
    });

    var ckEditorInstances;
    var interval = setInterval(() => {
      if (typeof CKEDITOR !== 'undefined') {
        try {
          ckEditorInstances = document.getElementsByClassName('ckEditor');
          for (let i = 0; i < ckEditorInstances.length; i++) {
            let ckEditorInstance = CKEDITOR.replace(ckEditorInstances[i]);
            ckEditorInstance.on('change', function(event) {
              let content = event.editor.getData();
              let plainTextContent = content.replace(/<[^>]*>/g, '').replace(/&nbsp;/g, ' ');
              let wordCount = plainTextContent.trim().split(/\s+/).length;
              let wordsLeft = 1000 - wordCount;
              $(`#${ckEditorInstances[i].id}Count`).text(`${wordsLeft} words left`);
              $(`#${ckEditorInstances[i].id}Count`).css('color', wordsLeft < 0 ? 'red' : '');
              if (wordsLeft < 0) {
                ckEditorInstance.setData(stripHtmlTags(plainTextContent.split(/\s+/).slice(0, 999).join(' ')));                
                alert('Error: Word limit exceeded (maximum 1000 words)');
              }
            });
          }
          clearInterval(interval);
        } catch (e) {
          console.error(e);
        }
      }
    }, 100);

    function stripHtmlTags(html) {
      var div = document.createElement("div");
      div.innerHTML = html;
      var textContent = div.textContent || div.innerText || "";
      return textContent.trim().replace(/&/g, '').replace(/\s+/g, ' ').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    }

    $('#covers').on('change', function() {
      var coverImages = this.files;
      if (coverImages.length > 10) {
          alert("You can select up to 10 cover images.");
          this.value = '';
      }

      let totalSizeInMB = 0;

      for (let i = 0; i < coverImages.length; i++) {
        const file = coverImages[i];
        const fileSizeInMB = file.size / (1024 * 1024); 

        if (fileSizeInMB > 100) {
          alert('One or more cover images exceed the 100 MB size limit. Please select smaller images.');
          this.value = null;
          return; 
        }

        totalSizeInMB += fileSizeInMB;
      }

      if (totalSizeInMB > 300) {
        alert('The total size of cover images exceeds the 100 MB limit. Please select fewer images or smaller ones.');
        this.value = null;
        return;
      }
    });

    const fileInput = document.getElementById('product_video_file');

    fileInput.addEventListener('change', function(event) {
      const product_file = fileInput.files[0];

      if (product_file) {
        const fileSizeInGB = product_file.size / (1024 * 1024 * 1024);
        const fileSizeLimitGB = 1;

        if (fileSizeInGB > fileSizeLimitGB) {
          alert('File size exceeds the limit of 1 GB. Please select a smaller file.');
          fileInput.value = null;
        }
      }
    });

  });
</script>
