<%= form_with url: products_path, method: :post, data: {turbo: false, remote: true }, html: { id: "priv-product-form" }, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |f| %>

  <div class="mb-6">
    <%= f.label :repo_url, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :repo_url, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Paste Repository URL" %>
  </div>

  </br>

  <div class="sm:col-span-4">
    <%= f.label :price, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.number_field :price, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", required: true %>
    </div>
  </div>
  </br>

  <div class="sm:col-span-4">
    <%= f.label :covers, class: "block text-sm font-medium leading-6 text-gray-900" do %>
    Cover Images
    <% end %>
    <div class="mt-2">
      <%= f.file_field :covers, multiple: true, class: "form-control", id: "priv_covers" %>
    </div>
  </div>
  </br>

  <div class="sm:col-span-4">
    <label for="product_video_source_priv" class="block text-sm font-medium leading-6 text-gray-900">Video Source</label>
    <div class="mt-2">
      <select id="product_video_source_priv" class="form-control" onchange="toggleVideoFields()">
        <option value="">Select Video Source</option>
        <option value="Preview Video URL">Preview Video URL</option>
        <option value="Explainer Video File">Explainer Video File</option>
      </select>
    </div>
  </div>
  </br>

  <div class="sm:col-span-4" id="preview_video_url_field_priv" style="display: none;">
    <%= f.label :preview_video_url, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= f.text_field :preview_video_url, class: "form-control", id: "product_preview_video_url_priv" %>
    </div>
  </div>
  </br>

  <div class="sm:col-span-4" id="video_file_field_priv" style="display: none;">
    <%= f.label :video_file, class: "block text-sm font-medium leading-6 text-gray-900" do %>
    Explainer Video File
    <% end %>
    <div class="mt-2">
      <%= f.file_field :video_file, class: "form-control", id: "product_video_file_priv" %>
    </div>
  </div>
  </br>

  <div class="sm:col-span-4">
    <div id="upload-status-priv" class="mt-2"></div>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit "Add from URL", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>

  </br>

<% end %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script type="text/javascript">
  function toggleVideoFields() {
    var selectedOption = $("#product_video_source_priv").val();
    if (selectedOption === "Preview Video URL") {
      $("#preview_video_url_field_priv").show();
      $("#video_file_field_priv").hide();
    } else if (selectedOption === "Explainer Video File") {
      $("#preview_video_url_field_priv").hide();
      $("#video_file_field_priv").show();
    } else {
      $("#preview_video_url_field_priv").hide();
      $("#video_file_field_priv").hide();
    }
  }
  $(document).ready(function() {
    toggleVideoFields();
    $("#product_video_source_priv").change(function() {
      toggleVideoFields();
    });
    $('#priv-product-form').submit(function(event) {
      event.preventDefault();
      
      var formData = new FormData();
      formData.append('authenticity_token', $('meta[name=csrf-token]').attr('content'));
      formData.append('product[repo_url]', $('#repo_url').val());
      formData.append('product[price]', $('#price').val());
      formData.append('product[repository_source]', 'private');
      var coverImages = $('#priv_covers')[0].files;
      $.each(coverImages, function(index, image) {
          formData.append('product[covers][]', image);
      });
      const fileInput = document.getElementById('product_video_file_priv');
      const product_file = fileInput.files[0];

      if (product_file) {
        formData.append('product[video_file]', product_file);
      }
      formData.append('product[preview_video_url]', $('#product_preview_video_url_priv').val());
      
        $.ajax({
          type: 'POST',
          url: '/products',
          data: formData,
          processData: false,
          contentType: false,
          xhr: function() {
            var xhr = new window.XMLHttpRequest();
            xhr.upload.addEventListener('progress', function(evt) {
              if (evt.lengthComputable) {
                $('#upload-status-priv').html('<img class="w-10 h-10" src="<%= asset_path('loading.gif') %>" alt="Loading"> Uploading');
              }
            }, false);
            return xhr;
          },
          success: function(data) {
            $('#upload-status-priv').html('<img class="w-10 h-10" src="<%= asset_path('tick.png') %>" alt="Tick"> Upload complete');
            setTimeout(function() {
              var productId = data.product_id; 
              window.location.href = '/products/' + productId;
            }, 5000);
          },
          error: function(xhr, status, error) {
            $('#upload-status-priv').text('Error: ' + error);
          }
        });
      });
    });
</script>
