<div class="bg-gradient-to-r from-blue-700 to-orange-500">
  <%=
    render BreadcrumbComponent.new(current_user,[
      { text: "Products", url: current_user&.buyer? ? marketplace_browse_path : marketplace_browse_path },
      { text: @product.name, url: request.original_url.include?("/l/") ? marketplace_library_path(@product) : product_path(@product) }
    ])
  %>
  <div class="mx-auto px-4 py-8 sm:px-6 lg:px-8">
    <!-- Product -->
    <div class="flex flex-col md:flex-row md:items-center gap-4">
      <div class="grow">
        <div class="flex inline-flex bg-white rounded-2xl p-2"><h1 class="text-2xl font-bold tracking-tight text-gray-900 font-mono underline sm:text-4xl"><%= @product.name %></h1></div>
        <%= link_to marketplace_creator_path(@product.user), class: "mt-1 text-lg font-mono text-black hover:text-white hover:underline" do %>
          Creator: <%= @product.user.username %>
        <% end %>
	<p class="text-lg font-mono text-black">
          Last updated:
          <time datetime="<%= @product.updated_at.strftime("%Y-%m-%d") %>">
            <%= @product.updated_at.strftime("%B %-d, %Y") %>
          </time>
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <%# Like %>
        <div id="like-section" class="flex items-center">
          <%= button_tag id: "like-button", class: "flex items-center gap-2 justify-center rounded border border-black border-2 bg-indigo-600 px-3 py-2 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
            </svg>
            <span id="total-likes"><%= @product.likes.size %></span>
          <% end %>
        </div>

        <%# Rating %>
        <% if @product.reviews.size > 0 %> 
          <div class="flex items-center gap-1">
            <div class="flex items-center">
              <% 5.times do |index| %>
                <svg class="<%= @product.average_rating.round >= index + 1 ? 'text-yellow-500' : 'text-gray-700' %> h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
                </svg>
              <% end %>
            </div>
            <p class="p-1 font-medium text-black"><%= @product.average_rating.to_f.round(1) %>(<%= @product.reviews.size %>)</p>
          </div>
          <p class="sr-only"><%= @product.average_rating.to_i %> out of 5 stars</p>
        <% end %>
	<p class="text-2xl font-mono"><%= @product.purchase_count %> purchases</p>
      </div>
    </div>

    <div class="my-8 w-full border-t border-gray-200"></div>

    <div class="lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 lg:gap-y-10 xl:gap-x-12">
      <!-- Product image -->
      <div class="lg:col-span-4 lg:row-end-1 flex flex-col gap-8 lg:gap-10 xl:gap-12">
        <div class="overflow-hidden rounded-lg bg-gray-100 border-8 border-solid border-indigo-600 hover:shadow-[0px_20px_20px_15px_#1a202c]">
          <% if @product.covers.exists? %>
            <!-- 
            <%# <%= render CarouselComponent.new(@product.covers) %> %>
            -->
            <figure class="block md:h-[384px] sm:h-[300px]  h-[250px] w-full">
              <%= image_tag @product.covers.first.url, id:"main-image", class:"block object-contain w-full h-full" %>
            </figure>
          <% else %>
            <%= image_tag "default-cover.png", class: "object-cover object-center relative w-full" %>
          <% end %>
        </div>
        <div class=" rounded-lg border-6">
          <div class="rounded-lg flex flex-col">
            <div class="grow gap-3 grid md:grid-cols-5 sm:grid-cols-4 grid-cols-3">
              <%# Cover Image %>
                <% @product.covers.each do |thumbnail| %>
                  <div class="bg-gray-100 overflow-hidden rounded block border border-black hover:scale-105 hover:shadow-2xl">
                        <img src="<%= thumbnail.url %>" alt="TODO" class="block object-cover object-center h-full w-full cursor-pointer" onclick="changeImage(this.src)">
                  </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Product details -->
      <div class="flex flex-col gap-10 mx-auto mt-6 max-w-2xl sm:mt-6 lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-screen-lg">
        <div class="flex flex-col gap-6">
          <%# Price %>
          <div>
            <% if @product.price.to_f.round(2) > 0.00 %> 
              <p class="text-3xl font-bold p-2 rounded-xl bg-white text-black text-center font-mono underline"><%= @product.price.currency.symbol %><%= @product.price %></p>
            <% else %>
              <p class="text-3xl font-bold p-2 rounded-xl bg-white text-black font-mono text-center underline">Free</p>
            <% end %>
            <% if @product.price.to_f.round(2) > 0.00 %> 
              <div></div>
            <% else %>
              <%= link_to "Donate to Compassion International", "https://www.compassion.com", class: "hover:scale-110 flex items-center justify-center mt-4 rounded-md border border-black border-2 bg-indigo-600 px-8 py-3 text-base w-96 h-10 font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50", target: :blank %>
            <% end %>
          </div>

          <%# Languages %>
          <% if @languages.present? && @languages.size > 0 && @languages[0].name != 'not_specified' %>
            <div class="flex flex-col gap-1">
              <h2 class="font-semibold text-gray-700">Languages</h2>
              <div class="flex flex-row flex-wrap items-center justify-start gap-2">
                <% @languages.take(3).each do |language| %>
                  <%= link_to language.name, marketplace_language_path(language), class: "hover:scale-110 text-white bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 border-black border-2 text-center me-2 mb-2" %>
                <% end %>
              </div>
            </div>
          <% end %>

          <%# Categories %>
          <% if @categories.present? && @categories.size > 0 && @categories[0].name != 'not_specified' %>
            <div class="flex flex-col gap-1">
              <h2 class="font-semibold text-gray-700">Categories</h2>
              <div class="flex flex-row flex-wrap items-center justify-start gap-2">
                <% @categories.take(3).each do |category| %>
                  <%= link_to category.name, marketplace_category_path(category), class: "hover:scale-110 text-white border-black border-2 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="w-full border-t border-gray-200"></div>

        <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-2">
          <% if policy(@product).edit? %>
            <%= link_to "Edit", edit_product_path(@product), class: "flex w-full items-center justify-center hover:scale-110 rounded-md border-black border-2 bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50" %>
          <% elsif policy(@product).purchasable? %>
            <% if @in_cart %>
              <%= link_to "Remove from Cart", marketplace_cart_item_path(@cart_item), data: { "turbo-method": :delete }, class: "hover:scale-110 flex w-full items-center justify-center rounded-md border-black border-2 bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50" %>
            <% else %>
              <%= link_to "Add to Cart", marketplace_cart_items_path(product_id: @product.id), data: { "turbo-method": :post }, class: "hover:scale-110 flex w-full items-center justify-center rounded-md border-black border-2 bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50" %>
            <% end %>
          <% elsif policy(@product).download_able? %>
              <%= link_to "Download", @product.folder.url, class: "hover:scale-110 flex w-full items-center justify-center rounded-md border-black border-2 bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50" %>
          <% end %>
          <button
            type="button"
            class="hover:scale-110 flex w-full items-center justify-center rounded-md border-black border-2 bg-indigo-50 px-8 py-3 text-base font-medium text-indigo-700 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 preview-button"
          >
            Preview
          </button>
        </div>

        <div class="w-full border-t border-gray-200"></div>
        <div id="video-container"></div>

        <% if @product.video_file.attached? %>
          <div id="video-container"></div>
          <div class="w-full border-t border-gray-200"></div>
        <% end %>

        <% if @product.description.present? %>
          <div class="flex flex-col gap-4">
            <h1 class="text-2xl text-bold underline text-gray-900 font-mono">Description:</h1>
            <p class="text-sm text-gray-500 font-mono"><%= sanitize @product.description %></p>
          </div>
          <div class="w-full border-t border-gray-200"></div>
        <% end %>

        <% if @product.features.present? %>
          <div class="flex flex-col gap-4">
            <h1 class="text-2xl text-bold underline text-gray-900 font-mono">Features:</h1>
            <p class="text-sm text-gray-500"><%= sanitize @product.features %></p>
          </div>
          <div class="w-full border-t border-gray-200"></div>
        <% end %>

        <% if @product.requirements.present? %>
          <div class="flex flex-col gap-4">
            <h1 class="text-2xl text-bold underline text-gray-900 font-mono">Requirements:</h1>
            <p class="text-sm text-gray-500"><%= sanitize @product.requirements %></p>
          </div>
          <div class="w-full border-t border-gray-200"></div>
        <% end %>

        <% if @product.instructions.present? %>
          <div class="flex flex-col gap-4">
            <h1 class="text-2xl text-bold underline text-gray-900 font-mono">Instructions:</h1>
            <p class="text-sm text-gray-500"><%= sanitize @product.instructions %></p>
          </div>
          <div class="w-full border-t border-gray-200"></div>
        <% end %>
        
        <% if @product.demo_url.present? %>
          <div class="flex flex-col gap-4">
            <%= link_to "Demo URL", @product.demo_url, class: "hover:scale-105 flex w-full items-center justify-center rounded-md border-black border-2 bg-indigo-600 px-8 py-3 text-base font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 text-xl mt-1 text-black hover:text-white hover:underline", target: "_blank" %>
          </div>
          <div class="w-full border-t border-gray-200"></div>
        <% end %>

        <div class="flex flex-col gap-4">
          <h3 class="text-sm font-medium text-black">License</h3>
          <p class="text-sm text-black">For personal and professional use. You cannot resell or redistribute these repositories in their original state.</p>
        </div>

        <div class="w-full border-t border-gray-200"></div>

        <div class="flex flex-col gap-4">
          <h3 class="text-sm font-medium text-gray-900">Share</h3>
          <ul role="list" class="flex items-center space-x-6">
            <li>
              <a href="<%= "https://www.facebook.com/sharer/sharer.php?u=#{product_url(@product)}" %>" target="_blank" rel="noopener noreferrer" class="flex h-6 w-6 items-center justify-center text-black hover:text-white">
                <span class="sr-only">Share on Facebook</span>
                <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a href="<%= "https://twitter.com/intent/tweet?url=#{product_url(@product)}" %>" target="_blank" rel="noopener noreferrer" class="flex h-6 w-6 items-center justify-center text-black hover:text-white">
                <span class="sr-only">Share on Twitter</span>
                <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path d="M11.4678 8.77491L17.2961 2H15.915L10.8543 7.88256L6.81232 2H2.15039L8.26263 10.8955L2.15039 18H3.53159L8.87581 11.7878L13.1444 18H17.8063L11.4675 8.77491H11.4678ZM9.57608 10.9738L8.95678 10.0881L4.02925 3.03974H6.15068L10.1273 8.72795L10.7466 9.61374L15.9156 17.0075H13.7942L9.57608 10.9742V10.9738Z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      

      <div class="mx-auto mt-16 w-full max-w-2xl lg:col-span-4 lg:mt-0 lg:max-w-none">
        <% if @directory_tree_json != "[]"  %>
          <h1 class="text-2xl text-bold text-gray-900 font-mono mb-4 underline">Files:</h1>
          <div id="directory-tree-data" class="js-directory-tree mb-4 bg-gray-400"></div>
        <% end %>

        <div data-controller="product-tabs">
          <div class="border-b border-gray-200">
            <div class="-mb-px flex space-x-8" aria-orientation="horizontal" role="tablist">
              <!-- Selected: "border-black text-black", Not Selected: "border-transparent text-gray-900 hover:border-gray-300 hover:text-black" -->
              <button
                id="tab-reviews"
                data-product-tabs-target="button"
                data-action="click->product-tabs#toggleTab"
                class="border-transparent text-black whitespace-nowrap border-b-2 py-6 text-sm font-medium hover:text-white hover:border-white"
                aria-controls="tab-panel-reviews"
                role="tab"
                type="button"
              >Customer Reviews</button>
              <button
                id="tab-license"
                data-product-tabs-target="button"
                data-action="click->product-tabs#toggleTab"
                class="border-transparent text-black whitespace-nowrap border-b-2 py-6 text-sm font-medium hover:text-white hover:border-white"
                aria-controls="tab-panel-license"
                role="tab"
                type="button"
              >License</button>
            </div>
          </div>
          

          <!-- 'Customer Reviews' panel, show/hide based on tab state -->
          <div
            data-product-tabs-target="panel"
            id="panel-reviews"
            class="py-10"
            aria-labelledby="tab-reviews"
            role="tabpanel"
            tabindex="0"
          >
            <h3 class="sr-only">Customer Reviews</h3>

            <% if @reviews.exists? %>
              <% if policy(@product).reviewable? %>
                <div class="mt-6">
                  <%= link_to new_marketplace_library_review_path(@product), class: "inline-flex hover:scale-110 hover:text-black hover:bg-white items-center gap-x-2 rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 h-5 w-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    Add a Review
                  <% end %>
                </div>
              <% end %>
              <%= render partial: "products/review", local: {reviews: @reviews} %>

            <% else %>
              <p class="text-sm text-center">There are no reviews.</p>
              <% if policy(@product).reviewable? %>
                <div class="text-center mt-6">
                  <%= link_to new_marketplace_library_review_path(@product), class: "inline-flex hover:scale-110 hover:text-black hover:bg-white items-center gap-x-2 rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 h-5 w-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    Add a Review
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          
          <%= render 'kaminari/tailwind/paginator', paginator: @reviews %>
          

          <!-- 'FAQ' panel, show/hide based on tab state -->
          <!-- 'License' panel, show/hide based on tab state -->
          <div
            data-product-tabs-target="panel"
            id="panel-license"
            class="py-10 hidden"
            aria-labelledby="tab-license"
            role="tabpanel"
            tabindex="0"
          >
            <h3 class="sr-only">License</h3>

            <div class="prose prose-sm max-w-none text-black">
              <h4>Overview</h4>

              <p>For personal and professional use. You cannot resell or redistribute these repositories in their original state.</p>

              <ul role="list">
                <li>You're allowed to use the code bits in the repositories in unlimited projects.</li>
                <li>Attribution is not required to use the code bits.</li>
              </ul>

              <h4>What you can do with it</h4>

              <ul role="list">
                <li>Use them freely in your personal and professional work.</li>
              </ul>

              <h4>What you can't do with it</h4>

              <ul role="list">
                <li>Don't be greedy. Selling or distributing these repositories in their original state is prohibited.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @related_products.present? %>
      <div class="mt-12 divide-y divide-black space-y-6">
        <h2 class="text-3xl font-bold text-gray-900 mb-6 ">Related Products</h2>
        <div class="mt-6 flow-root space-y-6 pt-8">
          <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5 gap-4 lg:gap-8">
            <%= render partial: "home/product", collection: @related_products, as: :product %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.preview-button').click(function() {
      var videoId = '';

      var videoFileAttached = <%= @product.video_file.attached? %>;

      if (videoFileAttached) {
        var videoFileUrl = '<%= url_for(@product.video_file)  if @product.video_file.attached? %>';
        var videoElement = $('<video controls style="height: auto;"><source src="' + videoFileUrl + '" type="video/mp4"></video>');

        $('#video-container').html(videoElement);
      } else {
        var previewVideoUrl = '<%= @product.preview_video_url %>';
        if (previewVideoUrl.includes('youtube.com')) {
          videoId = getYouTubeVideoId(previewVideoUrl);
          createYouTubePlayer(videoId);
        } else {
          $('#video-container').html('<p>No preview available</p>');
        }
      }
    });
    const likeButton = document.getElementById('like-button');
    const totalLikes = document.getElementById('total-likes');
    let liked = false;

    likeButton.addEventListener('click', function() {
      liked = !liked;

      if (liked) {
        fetch('/products/<%= @product.id %>/like', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': '<%= form_authenticity_token %>'
          }
        })
        .then(response => response.json())
        .then(data => {
          totalLikes.textContent = data.likes_count;
        })
        .catch(error => {
          console.error('Error:', error);
        });
      } else {
        fetch('/products/<%= @product.id %>/unlike', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': '<%= form_authenticity_token %>'
          }
        })
        .then(response => response.json())
        .then(data => {
          totalLikes.textContent = data.likes_count;
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }
    });
  });

  function getYouTubeVideoId(url) {
    var match = url.match(/(?:youtu\.be\/|youtube\.com(?:\/embed\/|\/v\/|\/watch\?v=))([\w\-]{11})/);
    return match ? match[1] : null;
  }

  function createYouTubePlayer(videoId) {
    var player = new YT.Player('video-container', {
      height: '315',
      width: '560',
      videoId: videoId,
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  function onPlayerStateChange(event) {
  }

  function changeImage(imageUrl) {
      document.getElementById("main-image").src = imageUrl;
  }
</script>
<script>
  $('#directory-tree-data').jstree({
		'core' : {
			'data' : <%= @directory_tree_json %>
		}
	});
</script>
